{:default         ""
 :demand-forecast [:map
                   [:analytics-type string?]
                   [:orders
                    [:vector [:map
                              [:store_front_product_id string?]
                              [:quantity int?]
                              [:unit_price number?]
                              [:total_value number?]]]]]
 }