[:map
 [:order_state [:enum "BAP CONFIRMED" "AWAITING BAP CONFIRMED"]]
 [:order_items
  [:vector [:map
            [:store_front_product_id [:enum "SF-PID1" "SF-PID2" "SF-PID3" "SF-PID4" "SF-PID5" "SF-PID6" "SF-PID7" "SF-PID8" "SF-PID9"]]
            [:quantity int?]
            [:unit_price int?]
            [:total_value int?]]]]
 [:total_value number?]
 [:fulfilment_type [:enum "SELF" "BUYER" "LOGISTICS"]]
 [:buyer_details
  [:map [:name string?]
   [:mobile_number string?]
   [:delivery_address [:map
                       [:address string?]
                       [:pincode int?]]]]]
 [:feedback [:map
             [:rating int?]
             [:review string?]]]
 [:notes string?]
 [:order_id string?]]